<a href="https://colab.research.google.com/github/satyam-jaat/NumPy-and-Pandas/blob/main/pandas_practice_questions_from_basic_to_advance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Data Structures: Create a DataFrame from a Python dictionary and customize the index labels.

In [3]:
import pandas as pd

# Create a DataFrame from a dictionary/dataset
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'Los Angeles', 'Chicago']}

df = pd.DataFrame(data)

# Customize the index labels
df.index = ['A', 'B', 'C']    #if not there then the index is 0, 1, 2
print(df)

      Name  Age         City
A    Alice   25     New York
B      Bob   30  Los Angeles
C  Charlie   35      Chicago

2. Data Selection: Select specific rows and columns using loc[] and iloc[] from a DataFrame.

In [21]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'ID': [101, 102, 103],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}
index_labels = ['A', 'B', 'C']  # Custom index labels
df = pd.DataFrame(data, index=index_labels)

# Using loc[] to select by label
selected_row_loc = df.loc['A']  # Select row by index label 'A'
selected_column_loc = df.loc[:, 'Name']  # Select column 'Name'

print("Selected row using loc:\n", selected_row_loc, "\n")
print("Selected column using loc:\n", selected_column_loc, "\n")

# Using iloc[] to select by position
selected_row_iloc = df.iloc[0]  # Select first row by position
selected_column_iloc = df.iloc[:, 1]  # Select second column by position

print("Selected row using iloc:\n", selected_row_iloc, "\n")
print("Selected column using iloc:\n", selected_column_iloc)

Selected row using loc:
 ID        101
Name    Alice
Age        25
Name: A, dtype: object

Selected column using loc:
 A      Alice
B        Bob
C    Charlie
Name: Name, dtype: object

Selected row using iloc:
 ID        101
Name    Alice
Age        25
Name: A, dtype: object

Selected column using iloc:
 A      Alice
B        Bob
C    Charlie
Name: Name, dtype: object

3. Filtering: Filter rows where a numeric column's value is greater than a threshold.

In [22]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'ID': [101, 102, 103],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}
index_labels = ['A', 'B', 'C']  # Custom index labels
df = pd.DataFrame(data, index=index_labels)

# Filtering: Filter rows where 'Age' is greater than a threshold
threshold = 28
filtered_df = df[df['Age'] > threshold]
print("Filtered DataFrame:\n", filtered_df)

Filtered DataFrame:
     ID     Name  Age
B  102      Bob   30
C  103  Charlie   35

4. Column Operations: Add a new column derived from arithmetic operations on existing columns.

In [23]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'ID': [101, 102, 103],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
}
index_labels = ['A', 'B', 'C']  # Custom index labels
df = pd.DataFrame(data, index=index_labels)

# Column Operations: Add a new column derived from arithmetic operations
# Adding a new column 'Salary_After_Tax' assuming a 10% tax deduction
df['Salary_After_Tax'] = df['Salary'] * 0.9
print("DataFrame with new column:\n", df)

DataFrame with new column:
     ID     Name  Age  Salary  Salary_After_Tax
A  101    Alice   25   50000           45000.0
B  102      Bob   30   60000           54000.0
C  103  Charlie   35   70000           63000.0

5. Missing Data: Identify and handle missing values by either filling them with a mean or dropping rows/columns.

In [19]:
import pandas as pd

# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'Los Angeles', 'Chicago']}

df = pd.DataFrame(data)

# Introduce missing value in 'Age' column for the first row
df_with_missing = df.copy()  # Make a copy of the DataFrame
df_with_missing.loc[0, 'Age'] = None  # Introduce a missing value

# Check for missing values
missing_values = df_with_missing.isnull()
print("Missing Values:\n", missing_values)

# Fill missing values with the mean of the 'Age' column (Corrected approach)
df_with_missing['Age'] = df_with_missing['Age'].fillna(df_with_missing['Age'].mean())

# Alternatively, drop rows with missing values
# df_with_missing = df_with_missing.dropna()

print("\nDataFrame after handling missing values:\n", df_with_missing)

Missing Values:
     Name    Age   City
0  False   True  False
1  False  False  False
2  False  False  False

DataFrame after handling missing values:
       Name   Age         City
0    Alice  32.5     New York
1      Bob  30.0  Los Angeles
2  Charlie  35.0      Chicago

6. I/O Operations: Read a CSV/Excel file into a DataFrame and write the DataFrame back to a new file.

In [ ]:
import pandas as pd

# Reading data from a CSV file into a DataFrame
df = pd.read_csv('input.csv')

# Display the first few rows of the DataFrame
print("DataFrame read from CSV:\n", df.head())

# Writing the DataFrame to a new CSV file
df.to_csv('output.csv', index=False)

# Reading data from an Excel file into a DataFrame
df_excel = pd.read_excel('input.xlsx')

# Display the first few rows of the Excel DataFrame
print("DataFrame read from Excel:\n", df_excel.head())

# Writing the DataFrame to a new Excel file
df_excel.to_excel('output.xlsx', index=False)

7. Column Management: Drop one or more columns from a DataFrame.

In [25]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

# Dropping the 'City' column
df.drop(columns=['City'], inplace=True)

print("\nDataFrame after dropping 'City':\n", df)

Original DataFrame:
       Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

DataFrame after dropping 'City':
       Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

8. Renaming: Rename columns to follow a specific naming convention (e.g., snake_case).
python
Copy

In [26]:
import pandas as pd
import re

def to_snake_case(column_name):
    column_name = re.sub(r'([a-z])([A-Z])', r'\1_\2', column_name)  # Convert camelCase to snake_case
    column_name = re.sub(r'\s+', '_', column_name)  # Replace spaces with underscores
    return column_name.lower()

# Example DataFrame
df = pd.DataFrame({
    "First Name": [ "Alice", "Bob"],
    "LastName": ["Smith", "Johnson"],
    "Age": [25, 30]
})

# Renaming columns
df.columns = [to_snake_case(col) for col in df.columns]

print(df)

  first_name last_name  age
0      Alice     Smith   25
1        Bob   Johnson   30

9. Sorting: Sort a DataFrame by one or more columns in ascending/descending order.

In [27]:
import pandas as pd

# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 35],
        'Salary': [50000, 70000, 45000, 80000]}

df = pd.DataFrame(data)

# Sorting by Age in ascending order
df_sorted = df.sort_values(by='Age')

print(df_sorted)

      Name  Age  Salary
2  Charlie   22   45000
0    Alice   25   50000
1      Bob   30   70000
3    David   35   80000

10. Aggregation: Use groupby to calculate summary statistics (e.g., mean, sum) for grouped data.
python
Copy

In [29]:
import pandas as pd

# Sample dataset
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'C', 'C', 'B'],
    'Value': [10, 20, 30, 40, 50, 60, 70, 80]
}

df = pd.DataFrame(data)

# Grouping by 'Category' and calculating summary statistics
grouped = df.groupby('Category')['Value'].agg(['mean', 'sum'])

print(grouped)

               mean  sum
Category
A         30.000000   90
B         46.666667  140
C         65.000000  130

11. Joining Data: Merge two DataFrames using different types of joins (inner, left, right, outer).

In [30]:
import pandas as pd

# Creating two DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Score': [85, 90, 88, 76]
})

df2 = pd.DataFrame({
    'ID': [3, 4, 5, 6],
    'Subject': ['Math', 'Science', 'English', 'History'],
    'Marks': [95, 89, 92, 80]
})

# INNER JOIN (Only matching IDs)
inner_join = pd.merge(df1, df2, on='ID', how='inner')

# LEFT JOIN (All from df1, matching from df2)
left_join = pd.merge(df1, df2, on='ID', how='left')

# RIGHT JOIN (All from df2, matching from df1)
right_join = pd.merge(df1, df2, on='ID', how='right')

# OUTER JOIN (Union of both)
outer_join = pd.merge(df1, df2, on='ID', how='outer')

# Display results
print("INNER JOIN:\n", inner_join)
print("\nLEFT JOIN:\n", left_join)
print("\nRIGHT JOIN:\n", right_join)
print("\nOUTER JOIN:\n", outer_join)

INNER JOIN:
    ID     Name  Score  Subject  Marks
0   3  Charlie     88     Math     95
1   4    David     76  Science     89

LEFT JOIN:
    ID     Name  Score  Subject  Marks
0   1    Alice     85      NaN    NaN
1   2      Bob     90      NaN    NaN
2   3  Charlie     88     Math   95.0
3   4    David     76  Science   89.0

RIGHT JOIN:
    ID     Name  Score  Subject  Marks
0   3  Charlie   88.0     Math     95
1   4    David   76.0  Science     89
2   5      NaN    NaN  English     92
3   6      NaN    NaN  History     80

OUTER JOIN:
    ID     Name  Score  Subject  Marks
0   1    Alice   85.0      NaN    NaN
1   2      Bob   90.0      NaN    NaN
2   3  Charlie   88.0     Math   95.0
3   4    David   76.0  Science   89.0
4   5      NaN    NaN  English   92.0
5   6      NaN    NaN  History   80.0

12. Pivoting: Create a pivot table to summarize data with rows, columns, and values.

In [31]:
import pandas as pd

# Sample Data
data = {
    'Category': ['Electronics', 'Clothing', 'Electronics', 'Clothing'],
    'Year': [2023, 2023, 2024, 2024],
    'Sales': [1000, 1500, 1200, 1700]
}

df = pd.DataFrame(data)

# Create Pivot Table
pivot_table = df.pivot_table(values='Sales', index='Category', columns='Year', aggfunc='sum')

print(pivot_table)

Year         2023  2024
Category
Clothing     1500  1700
Electronics  1000  1200

13.Custom Functions: Apply a custom function to a column using apply() or map().

In [32]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]})

# Custom function to categorize age
def categorize_age(age):
    return 'Young' if age < 30 else 'Adult'

# Apply the function to the 'Age' column
df['Category'] = df['Age'].apply(categorize_age)

print(df)

      Name  Age Category
0    Alice   25    Young
1      Bob   30    Adult
2  Charlie   35    Adult

14. String Manipulation: Clean a text column (e.g., lowercase, remove whitespace) using vectorized string methods.

In [33]:
import pandas as pd

# Sample DataFrame
data = {'Text': ['  Hello World  ', 'Python is GREAT! ', ' Data Science 101 ']}

df = pd.DataFrame(data)

# Clean the text column
df['Cleaned_Text'] = df['Text'].str.strip().str.lower()

# Display result
print(df)

                 Text      Cleaned_Text
0       Hello World         hello world
1   Python is GREAT!   python is great!
2   Data Science 101   data science 101

15. Time Series: Convert a column to datetime format and extract components (e.g., year, month).

In [38]:
import pandas as pd

# Sample data with date and time
data = {'datetime': ['2023-01-15 14:30:45', '2024-06-10 09:15:30', '2025-12-25 22:45:10']}

# Create DataFrame
df = pd.DataFrame(data)

# Convert column to datetime format
df['datetime'] = pd.to_datetime(df['datetime'])

# Extract date components
df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day'] = df['datetime'].dt.day
# df['weekday'] = df['datetime'].dt.day_name()
# df['quarter'] = df['datetime'].dt.quarter
# df['day_of_year'] = df['datetime'].dt.dayofyear

# Extract time components
df['hour'] = df['datetime'].dt.hour
df['minute'] = df['datetime'].dt.minute
df['second'] = df['datetime'].dt.second
# df['am_pm'] = df['datetime'].dt.strftime('%p')  # AM or PM
# df['time'] = df['datetime'].dt.time  # Extract only time

# Display result
print(df)

             datetime  year  month  day  hour  minute  second
0 2023-01-15 14:30:45  2023      1   15    14      30      45
1 2024-06-10 09:15:30  2024      6   10     9      15      30
2 2025-12-25 22:45:10  2025     12   25    22      45      10